---
interface Props {

}

const {  } = Astro.props;
---
<div class="wrapper">
	<!-- Primary -->
	<div class="palette">
		<div class="colour-square" style="background-color: var(--primary);" />
		<div class="colour-square" style="background-color: var(--accent);" />
	</div>
	
	<!-- Accent -->
	<div class="palette">
		<div class="colour-square" style="background-color: var(--primary-1);" />
		<div class="colour-square" style="background-color: var(--primary-2);" />
		<div class="colour-square" style="background-color: var(--primary-3);" />
		<div class="colour-square" style="background-color: var(--primary-4);" />
		<div class="colour-square" style="background-color: var(--primary-5);" />
		<div class="colour-square" style="background-color: var(--primary-6);" />
		<div class="colour-square" style="background-color: var(--primary-7);" />
		<div class="colour-square" style="background-color: var(--primary-8);" />
		<div class="colour-square" style="background-color: var(--primary-9);" />
		<div class="colour-square" style="background-color: var(--primary-10);" />
		<div class="colour-square" style="background-color: var(--primary-11);" />
		<div class="colour-square" style="background-color: var(--primary-12);" />
	</div>
	
	<!-- Nickel (Warm Gray) -->
	<div class="palette">
		<div class="colour-square" style="background-color: var(--accent-1);" />
		<div class="colour-square" style="background-color: var(--accent-2);" />
		<div class="colour-square" style="background-color: var(--accent-3);" />
		<div class="colour-square" style="background-color: var(--accent-4);" />
		<div class="colour-square" style="background-color: var(--accent-5);" />
		<div class="colour-square" style="background-color: var(--accent-6);" />
		<div class="colour-square" style="background-color: var(--accent-7);" />
		<div class="colour-square" style="background-color: var(--accent-8);" />
		<div class="colour-square" style="background-color: var(--accent-9);" />
		<div class="colour-square" style="background-color: var(--accent-10);" />
		<div class="colour-square" style="background-color: var(--accent-11);" />
		<div class="colour-square" style="background-color: var(--accent-12);" />
	</div>
	
	<!-- Slate (Cool Gray) -->
	<div class="palette">
		<div class="colour-square" style="background-color: var(--nickel-1);" />
		<div class="colour-square" style="background-color: var(--nickel-2);" />
		<div class="colour-square" style="background-color: var(--nickel-3);" />
		<div class="colour-square" style="background-color: var(--nickel-4);" />
		<div class="colour-square" style="background-color: var(--nickel-5);" />
		<div class="colour-square" style="background-color: var(--nickel-6);" />
		<div class="colour-square" style="background-color: var(--nickel-7);" />
		<div class="colour-square" style="background-color: var(--nickel-8);" />
		<div class="colour-square" style="background-color: var(--nickel-9);" />
		<div class="colour-square" style="background-color: var(--nickel-10);" />
		<div class="colour-square" style="background-color: var(--nickel-11);" />
		<div class="colour-square" style="background-color: var(--nickel-12);" />
	</div>
	
	<div class="palette">
		<div class="colour-square" style="background-color: var(--slate-1);" />
		<div class="colour-square" style="background-color: var(--slate-2);" />
		<div class="colour-square" style="background-color: var(--slate-3);" />
		<div class="colour-square" style="background-color: var(--slate-4);" />
		<div class="colour-square" style="background-color: var(--slate-5);" />
		<div class="colour-square" style="background-color: var(--slate-6);" />
		<div class="colour-square" style="background-color: var(--slate-7);" />
		<div class="colour-square" style="background-color: var(--slate-8);" />
		<div class="colour-square" style="background-color: var(--slate-9);" />
		<div class="colour-square" style="background-color: var(--slate-10);" />
		<div class="colour-square" style="background-color: var(--slate-11);" />
		<div class="colour-square" style="background-color: var(--slate-12);" />
	</div>

</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.palette {
		display: flex;
		flex-direction: row;
	}

	.colour-square {
		width: 50px;
		height: 50px;
	}
</style>
