.container {
  width: min(400px, 80vw);
  grid-column: 1/3;
  justify-self: end;

  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-button {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;

  display: flex;
  min-height: 48px;
  width: auto;

  align-items: center;
}

.menu-button > svg {
  height: 2em;
  width: auto;
  color: var(--ui-text-high-contrast);
}

.link {
  text-decoration: none;
  color: var(--ui-text-low-contrast);
  width: 100%;
  min-height: 24px;
  margin: 12px 0 12px 0;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25em;
}

.link > svg {
  height: 1em;
  width: auto;
}

.link:hover {
  color: var(--primary-11);
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
