---
import { Image } from "astro:assets";
import hero from "../../assets/images/hero.webp";
import Button from "../Button.astro";
---

<div class='hero light-theme'>
	<div class='container'>
		<div>
			<p class='text1'>
				Bringing <strong>elegance</strong> to your space
			</p>
			<div class='flex-row'>
				<Button
					colour='primary'
					hideBackground
				>
					<a href=''> Learn More</a>
				</Button>
				<Button
					colour='primary'
					hideBorder
				>
					<a
						href=''
						class='dark-theme'
						style="color: white"
					>
						Call Now</a
					>
				</Button>
			</div>
		</div>
		<Image
			src={hero}
			alt='Hero Image'
			class='hero'
		/>
	</div>
</div>

<style>
	.hero {
		color: var(--ui-text-low-contrast);
	}

	strong {
		color: hsl(
			var(--primary-hue),
			var(--primary-saturation),
			calc(var(--primary-lightness) * 0.7)
		);
	}

	.hero > div {
		display: flex;
		flex-direction: column-reverse;
		align-items: start;
		gap: var(--spacing-md);
	}

	a {
		text-decoration: none;
		font-weight: 900;
		font-size: 1.25rem;
		color: var(--ui-text-high-contrast);
		height: 100%;
		width: 100%;

		display: flex;
		align-items: center;
	}

	img.hero {
		width: 100%;
		height: auto;
		box-shadow: var(--shadow-md);
	}

	.text1 {
		font-size: 1.75rem;
		line-height: 1.9rem;
		margin: 1rem 0;
	}

	@media only screen and (min-width: 1024px) {
		.hero {
			background-color: hsla(
				var(--primary-hue),
				var(--primary-saturation),
				calc(var(--primary-lightness) * 1.9),
				1
			);
			box-shadow: var(--shadow-lg);
		}

		.hero > div {
			flex-direction: row;
			align-items: center;
			padding: 2rem;
			border-radius: 2rem;
		}

		img.hero {
			width: 450px;
			height: auto;
			box-shadow: none;
			clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 100%);
		}
	}
</style>
