body {
	background-color: var(--ui-bg);
	color: var(--ui-text-low-contrast);
	font-family: var(--font-text);
}

hr {
	width: 90%;
	border: 1px solid var(--ui-border-subtle);
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-headings);
}

p {
	max-width: 70ch;
}

@media (min-width: 640px) {
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 1024px) {
	
}

@media (min-width: 1280px) {
	
}

@media (min-width: 1536px) {
	
}
