/* UI Colour theme, default is Nickel */
.light-theme,
.dark-theme {
	--ui-bg: var(--nickel-1);
	--ui-bg-subtle: var(--nickel-2);
	--ui-element-bg: var(--nickel-3);
	--ui-element-bg-hovered: var(--nickel-4);
	--ui-element-bg-active: var(--nickel-5);
	--ui-border-subtle: var(--nickel-6);
	--ui-border: var(--nickel-7);
	--ui-border-hovered: var(--nickel-8);
	--ui-bg-solid: var(--nickel-9);
	--ui-bg-solid-hovered: var(--nickel-10);
	--ui-text-low-contrast: var(--nickel-11);
	--ui-text-high-contrast: var(--nickel-12);
}

:root {
	/* FONT SETTINGS */
	--font-text: "Poppins", sans-serif;
	--font-headings: "PT Sans", sans-serif;

	/* SPACING */
	--spacing-sm: 0.5rem;
	--spacing-md: 1.5rem;
	--spacing-lg: 2.5rem;

	/* SHADOWS */
	--shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	--shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

	/* CORNER RADIUS */
	--radius-sm: 0.25rem;
	--radius-md: 0.75rem;
	--radius-lg: 1.5rem/1.25rem;

	/* BUTTON SETTINGS */
	--button-radius: 0;
	--button-border: 2px;

	/* LAYOUT VARIABLES */
	--header-height: 48px;
}
.content {
	padding-top: max(4vh, 1rem);
	padding-bottom: max(8vh, 2rem);
}
