:root {
	/* COLOURS */
	--primary-hue: 210;
	--primary-saturation: 40%;
	--primary-lightness: 50%;
	--primary: hsl(
		var(--primary-hue),
		var(--primary-saturation),
		var(--primary-lightness)
	);

	/* 
	Replace These values for custom accent colour, otherwise a default complimentary one is assigned. 
	*/
	--accent-hue: calc(var(--primary-hue) + 180);
	--accent: hsl(
		var(--accent-hue),
		var(--primary-saturation),
		var(--primary-lightness)
	);

	/* SHADOWS */
	--shadow-sm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	--shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
		rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

	/* CORNER RADIUS */
	--radius-sm: 0.25rem;
	--radius-md: 0.75rem;
	--radius-lg: 1.5rem/1.25rem;
}
