---
import Layout from "../layouts/Layout.astro";
import Socials from "../components/Socials.astro";
import ContactInfo from "../components/ContactInfo.astro";
import OurTeam from "../components/AboutUs/OurTeam.astro";

import summary from "../data/summary";

const contact = summary.contact;
const social = summary.social;
---

<Layout title="Welcome to Astro.">
  <div class="container wrapper">
    <!-- Contact Info -->
    <ContactInfo />
    <!-- Social Media -->
    <Socials />
  </div>
</Layout>

<style>
  .endorsement-text {
    font-style: italic;
  }

  .contact_wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
    justify-content: start;
  }

  /* This just makes it so they look lined up, more like a grid. */
  .contact_wrapper > strong {
    min-width: 10ch;
  }

  @media (min-width: 1024px) {
    .wrapper {
      display: flex;
      justify-content: center;
      gap: var(--spacing-lg);
    }
  }
</style>
