---
import Layout from "../layouts/Layout.astro";
import HeroPhotoAndText from "../components/Hero/HeroPhotoAndText.astro";
import PalettePreview from "../components/PalettePreview.astro";
---

<Layout title='Welcome to Astro.'>
	<!-- Hero Section -->
	<HeroPhotoAndText />

	<div class="container">

	</div>

	<!-- Services -->
	<div class='services'>
		<div class='container'></div>
	</div>

	<!-- Testimonials -->
	<div class='testimonials'>
		<div class='container'></div>
	</div>
</Layout>


