---
import Layout from "../layouts/Layout.astro";
import HeroPhotoAndText from "../components/Hero/HeroPhotoAndText.astro";
import PalettePreview from "../mockups/PalettePreview.astro";
import Features from "../components/Features/Features.astro";
import FlipCardGrid from "../components/Cards/FlipCard/FlipCardGrid.astro";
import FeaturesFlipCard from "../components/Features/FeaturesFlipCard.astro";

---

<Layout title='Welcome to Astro.'>
	<!-- Hero Section -->
	<HeroPhotoAndText />
	<Features />
	<FeaturesFlipCard />

	<!-- Flip Cards -->
	<FlipCardGrid />

	<div class='container'></div>

	<!-- Services -->
	<div class='services'>
		<div class='container'></div>
	</div>

	<!-- Testimonials -->
	<div class='testimonials'>
		<div class='container'></div>
	</div>
</Layout>


