---





interface Props {};
const {} = Astro.props;

type menuOptionsType = {
	title: string,
	path: string,
	badge?: true,
	children?: menuOptionsType[],
}

const menuOptions: menuOptionsType[] = [
	{
		title: "Services",
		path: "/"
	},{
		title: "Services",
		path: "/",
		children: [
			
			{
				title: "Services",
				path: "/"
			},
			{
				title: "Services",
				path: "/"
			},
		]
	},{
		title: "Services",
		path: "/",
		children: [
			
			{
				title: "Services",
				path: "/"
			},
			{
				title: "Services",
				path: "/"
			},
		]
	},
]

---
<header>
	<div>
	<p>asdfdsf sdf</p>
	</div>
	
</header>

