header.container {
	background-color: var(--ui-bg-subtle);
	min-height: 48px;
    padding-left: 1rem;

    display: flex;
    align-items: center;
}

.letterhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;

    font-size: 2rem;
}

.letterhead > img {
    height: 1em;
    width: auto;
}
