---
import Card from "./Card.astro";

interface Props {
	cardSize?: {
		width: string | "none";
		height: string | "none";
	};
}

const { cardSize = { width: "200px", height: "250px" } } = Astro.props;

interface contentType {
	title: string;
	icon?: string;
	text: string;
	photo?: {
		url: string;
		alt: string;
	};
}

const content: contentType[] = [
	{
		title: "Decks",
		text: "Custom built decks to beautifully transform your home!",
		photo: { url: "src/assets/images/hero.webp", alt: "Photo of a deck" },
	},
	{
		title: "Fences",
		text: "Multiple designs to choose from, made from pressure treated, cedar, or composite.",
		photo: { url: "src/assets/images/fence.webp", alt: "Photo of a deck" },
	},
	{
		title: "Patios",
		text: "Transform your patio into a place you want to hang out.",
		photo: { url: "src/assets/images/patio.webp", alt: "Photo of a deck" },
	},
	{
		title: "Pergolas",
		text: "Give your yard or deck the shade it needs.",
		photo: {
			url: "src/assets/images/pergola.webp",
			alt: "Photo of a deck",
		},
	},
];
---

<div class='container feature-grid'>
	{
		content.map((item) => {
			return (
				<Card>
					<div class='card-grid'>
						<div class='content'>
							<h2>{item.title}</h2>
							<p>{item.text}</p>
						</div>
						{item.photo && (
							<img
								src={item.photo.url}
								alt={item.photo.alt}
							/>
						)}
					</div>
				</Card>
			);
		})
	}
</div>

<style define:vars={{ width: cardSize.width, height: cardSize.height }}>
	.feature-grid {
		margin-top: 5vh;

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
		grid-template-rows: var(--height);
		grid-auto-flow: row;
		grid-auto-rows: var(--height);
		gap: 2rem;
	}

	.card-grid {
		display: grid;
		grid-template-rows: auto auto;
		grid-template-columns: 1fr;
	}

	.card-grid > * {
		grid-column: 1/2;
	}

	.content {
		grid-row: 1/2;
		padding: 1rem;
		transition-duration: 0.3s;
		z-index: 2;
	}

	.card-grid > img {
		width: 100%;
		height: var(--height);
		object-fit: cover;
		align-self: stretch;
		grid-row: 1/3;
		opacity: 20%;
		transition-duration: 0.3s;
	}

	.card-grid:hover > img {
		opacity: 100%;
		transition-duration: 0.3s;
	}

	.card-grid:hover > .content {
		opacity: 0;
		transition-duration: 0.3s;
	}

	h2 {
		color: var(--primary);
	}
</style>
