---
import { Image } from "astro:assets";
interface Props {}

const {} = Astro.props;
---

<footer>
	<div class='container'>
		<Image
			src='/favicon.svg'
			width='100'
			height='100'
			alt='Company Logo'
			class='logo'
		/>

		<ul class='flex-col'>
			<li>Menu Option 1</li>
			<li>Menu Option 2</li>
			<li>Menu Option 3</li>
		</ul>

		<ul class='flex-col'>
			<li>Menu Option 1</li>
			<li>Menu Option 2</li>
			<li>Menu Option 3</li>
		</ul>

		<div class="bottom-text">
			Designed by Chartley
		</div>
	</div>
</footer>

<style>
	footer {
		background-color: var(--ui-element-bg);
		padding: 0.75rem ;
	}

	footer > div {
		display: grid;
		gap: 0.25rem;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
	}

	.logo {
		grid-column: 1/2;
	}

	ul {
		justify-content: center;
		height: min-content;
		gap: 0.5rem;
		list-style: none;
	}

	.bottom-text {
		grid-column: 1/4;
		grid-row: 2/3;
		justify-self: center;
	}
</style>
